@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes scroll {
    0% { transform: translateX(100%); }
    50% { transform: translateX(0); } /* Content reaches the middle */
    100% { transform: translateX(-100%); } /* Content finishes scrolling */
}

.animate-scroll {
    animation: scroll 15s linear infinite;
    white-space: nowrap;
}
.carousel-container {
    margin-top: 80px !important;
}